@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #F5BEF9;
    width: 100vh;
    height: 100vw;
}

header {
    background-color: #8DD5F8;
    width: 100vh;
    height: 6rem;
}

header img {
    display: none;
}

main, html {
    position: relative;
    background-color: #ffffff;
    width: 100vh;
    height: 100vw;
}

section#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9D8567;
    width: 25rem;
    height: 30rem;
    
}


div#image {
    background: white url(imagens/plantaNoRosa.jpg) no-repeat;
    background-size: cover;
    height: 10rem;
}

footer {
    position: absolute;
    background-color: #6F5F4A;
    width: 100vh;
    height: 2.5rem;
}
footer img {
    display: none;
}