@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #F5BEF9;
    width: 100vw;
    height: 85vh;
}

header {
    background: #8DD5F8 url(imagens/logo-img.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 100vw;
    height: 6rem;
    text-align: center;
    padding-top: 1.8rem;
    font-family: 'Palanquin Dark', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F56DEF;
}

main {
    position: relative;
    background-color: #A08A9F;
    width: 100vw;
    height: 85vh;
}

section#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F594F0;
    width: 22rem;
    height: 36rem;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.308);
    overflow: hidden;
    display: block;
    font-family: 'Paprika','Times New Roman', Times, serif;
    
}


div#image {
    background: white url(imagens/pink-back-small.jpg) no-repeat;
    background-size:cover;
    height: 14rem;
    display: block;
}

div#form {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
div#form > p {
    color: #527571;
}

div.login {
    display: inline-block;
    background-color: #F5E193;
    width: 90%;
    height: 2.5rem;
    border-radius: 0.4rem;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
}

div.login label {
    display: none;
}

div.login input {
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    width: 82%;
    height: 2rem;
    transform: translateY(-0.59rem);
    background-color: #F5E193;
    text-align: center;
    
}

div.login span {
    font-size: 2em;
    padding: 0.3rem;
}

input[type=submit] {
    width: 80%;
    height: 2.6rem;
    display: block;
    margin: auto;
    font-size: 1em;
    cursor: pointer;
    background-color: #71a19c;
    border: none;
    border-radius: 0.4rem;
    color: rgba(0, 0, 0, 0.900);
    box-shadow: 0rem 0rem 0.18rem rgba(0, 0, 0, 0.507);
}

input[type=submit]:hover {
    background-color: #93F5E9;
    color: black;
}

a.links {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0.8rem 0rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(2rem);
    color: #F5E193;
}

a.links:visited {
    color: #F5E193;
}

footer {
    position: absolute;
    background: #6F5F4A url(imagens/brookelipsblack.png) no-repeat;
    background-size: contain;
    background-position: 98%;
    width: 100vw;
    height: 2.94rem;
    padding: 1rem 0rem 0rem 1rem;
}

span.dev {
    color: #F2A84E;
}

footer img {
    display: none;
}

div#form p {
    text-align: center;
    padding: 0.8rem 0rem 0.5rem 0rem;
}